<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
  	<h3>Respected Sir/Mam'am</h3>
    <h4>I am <%= @user.name %></h4>
    <p>
    	I applied for job in <%= @user.branch%> Department and attached my resume while filled the form.</br>
     	<h4>Thanks & Regard</h4>
			<h4><%= @user.name%></h4>
    </p>
  </body>
</html>