<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h4>Hii <%= @user.name %>,</h4>
    <p>
    	Your interview schedule on <%= @user.schedule_at %> on <%= @user.interview_type %> with <%= @user.interviewer %></br>
     	<h4>Thanks & Regard</h4>
			<h4>hrchaitali@mailinator.com</h4>
    </p>
  </body>
</html>